{% extends "basic.html" %}

{% block main %}   
<table class="table">
<thead>
  <tr>
    <th></th>
    <th></th>
    <th>Delta</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>NCBI SRA datasets:</td>
    <td>2094</td>
    <td>+39</td>
  </tr>
  <tr>
    <td>NCBI Nucleotide datasets:</td>
    <td>1811</td>
    <td>+227</td>
  </tr>
  <tr>
    <td>GISAID assemblies:</td>
    <td>1555</td>
    <td>?</td>
  </tr>
  <tr>
    <td>Variations:</td>
    <td>?</td>
    <td>?</td>
  </tr>
  <tr>
    <td>Published papers:</td>
    <td>?</td>
    <td>?</td>
  </tr>
</tbody>
</table>

{% endblock %}